.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(24) 0;
  &__logo {
    object-fit: contain;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: end;
    min-width: 26rem;
    @include breakpoint-down(small) {
      display: none;
    }
    > a {
      text-transform: uppercase;
      color: $darkGrayishViolet;
      letter-spacing: 2px;
      font-size: rem(12);
      font-weight: 700;
      transition: all 200ms ease-in-out;
    }
    > a:not(:last-child) {
      margin: 0 rem(20);
    }
    > a:last-child {
      border: solid rem(2) $veryDarkViolet;
      color: $veryDarkViolet;
      padding: rem(12) rem(24);
    }
    > a:hover {
      color: $veryDarkViolet;
    }
    > a:last-child:hover {
      background-color: $darkViolet;
      color: $veryLightGray;
    }
  }

  &__hamburger {
    cursor: pointer;
    @include breakpoint-up(medium) {
      display: none;
    }
  }
  &__hamburgerSpan {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: rem(32);
    width: rem(32);
    border: solid rem(2) $veryDarkViolet;
    @include breakpoint-up(medium) {
      display: none;
    }
    > span {
      height: rem(2);
      width: rem(16);
      background-color: $veryDarkViolet;
      margin: rem(1.5);
    }
  }
}
